<div class="user-col-header">
    <div class="user-col-header-left pull-left">
        <img *ngIf="!user && !userError" class="user-header-img" src="../../images/vinyl_spinner.gif">
        <img *ngIf="userError" class="user-header-img" src="../../images/vinyl_broken.gif">
        <img *ngIf="user" [src]="user.avatar_url" class="user-header-img shadow-img">
    </div>
    <div class="user-col-header-right pull-left">
        <p *ngIf="!user && !userError">finding Discogs user...</p>
        <p *ngIf="userError" class="text-danger">{{ userError }}</p>
        <h3 *ngIf="user">{{ user.username }}</h3>
    </div>
</div>
<div *ngIf="user && userCollection.length > 0" class="user-col-toolbar">
    <div class="pull-left">
        <input [(ngModel)]="filterText" type="text"
           class="user-col-filter-input form-control duprecs-form-control"
           placeholder="find a release">
    </div>
    <div class="btn-group pull-left" role="group">
        <button type="button" class="btn btn-default" (click)="onViewButtonClicked(viewTypes.Grid)"
                [ngClass]="{ active: currentViewType === viewTypes.Grid }">
            <span class="glyphicon glyphicon-th-large"></span>
        </button>
        <button type="button" class="btn btn-default" (click)="onViewButtonClicked(viewTypes.List)"
                [ngClass]="{ active: currentViewType === viewTypes.List }">
            <span class="glyphicon glyphicon-th-list"></span>
        </button>
    </div>
</div>
<div class="user-col-body" *ngIf="user">
    <div *ngIf="userCollection.length === 0">
        <p *ngIf="!userCollectionError">fetching {{ user.username }}'s collection...</p>
        <p *ngIf="userCollectionError" class="text-danger">{{ userCollectionError }}</p>
    </div>
    <div *ngIf="userCollection.length > 0">
        <div *ngFor="#release of userCollection | releaseFilter:filterText"
             class="user-col-release pull-left">
            <img [src]="release.basic_information.thumb" class="album-thumb shadow-img">
            <div class="album-info">
                <div>{{ release.basic_information.artists[0].name | truncateFilter:maxTitleAndArtistLength }}</div>
                <div>{{ release.basic_information.title | truncateFilter:maxTitleAndArtistLength }}</div>
                <div>{{ release.basic_information.year }}</div>
            </div>
        </div>
    </div>
</div>