<div class="row user-col-header">
    <div class="col-xs-6 col-sm-3 col-md-2">
        <img ng-if="!UserCtrl.user && !UserCtrl.userError" class="user-header-img" src="../images/vinyl_spinner.gif">
        <img ng-if="UserCtrl.userError" class="user-header-img" src="../images/vinyl_broken.gif">
        <img ng-if="UserCtrl.user" ng-src="{{ UserCtrl.user.avatar_url }}" class="user-header-img shadow-img">
    </div>
    <div class="col-xs-6 col-sm-9 col-md-10">
        <p ng-if="!UserCtrl.user && !UserCtrl.userError">finding Discogs user...</p>
        <p ng-if="UserCtrl.userError" class="text-danger">{{ UserCtrl.userError }}</p>
        <h3 ng-if="UserCtrl.user">{{ UserCtrl.user.username }}</h3>
    </div>
</div>
<div class="row user-col-body" ng-if="UserCtrl.user">
    <div ng-if="UserCtrl.collection.length === 0" class="col-md-6">
        <p ng-if="!UserCtrl.collectionError">fetching {{ UserCtrl.user.username }}'s collection...</p>
        <p ng-if="UserCtrl.collectionError" class="text-danger">{{ UserCtrl.collectionError }}</p>
    </div>
    <div ng-if="UserCtrl.collection.length > 0"
         ng-repeat="release in UserCtrl.collection"
         class="user-col-item col-xs-6 col-sm-4 col-md-2">
        <img ng-src="{{ release.basic_information.thumb }}" class="album-thumb shadow-img">
        <div class="album-info">
            <div>{{ release.basic_information.artists[0].name.substring(0,15) }}</div>
            <div>{{ release.basic_information.title.substring(0,15) }}</div>
            <div>{{ release.basic_information.year }}</div>
        </div>
    </div>
</div>
