<div class="user-col-header">
    <div class="user-col-header-left pull-left">
        <img ng-if="!UserCtrl.user && !UserCtrl.userError" class="user-header-img" src="../images/vinyl_spinner.gif">
        <img ng-if="UserCtrl.userError" class="user-header-img" src="../images/vinyl_broken.gif">
        <img ng-if="UserCtrl.user" ng-src="{{ UserCtrl.user.avatar_url }}" class="user-header-img shadow-img">
    </div>
    <div class="user-col-header-right pull-left">
        <p ng-if="!UserCtrl.user && !UserCtrl.userError">finding Discogs user...</p>
        <p ng-if="UserCtrl.userError" class="text-danger">{{ UserCtrl.userError }}</p>
        <h3 ng-if="UserCtrl.user">{{ UserCtrl.user.username }}</h3>
        <input ng-if="UserCtrl.user && UserCtrl.collection.length > 0" ng-model="UserCtrl.filterText" type="text"
               class="user-col-filter-input form-control" placeholder="filter by artist/album">
    </div>
</div>
<div class="user-col-body" ng-if="UserCtrl.user">
    <div ng-if="UserCtrl.collection.length === 0">
        <p ng-if="!UserCtrl.collectionError">fetching {{ UserCtrl.user.username }}'s collection...</p>
        <p ng-if="UserCtrl.collectionError" class="text-danger">{{ UserCtrl.collectionError }}</p>
    </div>
    <div ng-if="UserCtrl.collection.length > 0"
         ng-repeat="release in UserCtrl.collection | ReleaseFilter:UserCtrl.filterText track by $index"
         class="user-col-release pull-left">
        <img ng-src="{{ release.basic_information.thumb }}" class="album-thumb shadow-img">
        <div class="album-info">
            <div>{{ release.basic_information.artists[0].name.substring(0,15) }}</div>
            <div>{{ release.basic_information.title.substring(0,15) }}</div>
            <div>{{ release.basic_information.year }}</div>
        </div>
    </div>
</div>
